@media only screen and (min-width: 992px) {

    #cntctsDiv {
        font-family: 'Lexend', sans-serif;
        border: none;
    }   

    #cntctCard {
        cursor: pointer;
        background-color: whitesmoke;
    }

    #cntctCard:hover {
        background-color: rgb(226, 223, 223);
    }
}