@media only screen and (min-width: 992px) {

    #cntctsDiv {
        width: auto;
        margin-top: 5%;
        margin-left: 0px;
        font-family: 'Lexend', sans-serif;
        font-size: 20px; 
    }   

    #cntctCard {
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

    #cntctCard:hover {
        background-color: rgb(226, 223, 223);
    }
}