@media only screen and (min-width: 992px) {
    #lgnForm {
        width: 50%;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .lgnLabel, .lgnGroup, #lgnCard {
        background-color: #4C6663;
    }

    #lgnCard {
        padding: 5% 10% 5% 10%;
    }

    .lgnGroup {
        margin-bottom: 3%;
    }

    .regStament, .regLink {
        background-color: #4C6663;
        margin: 15px auto auto auto;
        color: black;
    }
    
    .regLink:hover {
       color: black;
    }
}