@media only screen and (min-width: 992px) {
    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px;
    }

    .topCard {
        grid-column: 1/6;
        background-color: #4C6663;
    }

    .bannerContainer {
        grid-column: 2/6;
        background-color: whitesmoke;
        /* height: 10%; */
    }

    .bannerBody {
        background-color: whitesmoke !important;
        border-bottom: 1px solid rgb(202, 198, 198);
    }

    .navItems {
        justify-content: flex-end;
        background-color: #4C6663;
    }

    .navigation {
        padding-right: 5% !important;
        font-family: 'Lexend', sans-serif;
        background-color: #4C6663 !important;
        /* color: whitesmoke !important; */
        grid-column: 4/6 !important;
    }

    .leftSection {
        grid-column: 1/2;
        grid-row: 2/6;
        background-color: #4C6663 !important;
        height: 100vh !important;
    }

    .userContainer {
        position: relative;
        display: flex;
        height: 10%;
        background-color: whitesmoke;
        font-family: 'Lexend', sans-serif;
        align-items: center;
        border: none;
    }

    .profileName {
        align-items: center;
        background-color: whitesmoke;
        margin-left: 18%;
        font-size: 30px;
    }

    .menu {
        position: relative;
        display: flex;
        
        top: 1%;
        background-color: #4C6663 !important;  
    }

    #chat, #contacts, #notification {
        /* margin-top: 5% !important; */
        padding: 0px 4px 0px 0px;
        margin-left: 4%;
        color: #C9D7F8 !important;
        background-color: #4C6663 !important;
        cursor: pointer;
        font-family: 'Lexend', sans-serif;
    }

    .chatLink {
        background-color: #4C6663 !important;
        color: whitesmoke !important;
    }

    .tabContent {
        position: relative;
        top: 2%;
        background-color: whitesmoke;
        height: 80%;
    }

    .chatbox {
        grid-column: 2/5;
        /* padding: 0% 5% 0% 5%; */
        height: 75vh !important;
        background-color: #C9D7F8 !important;
        /* width: 50vw; */
    }
}