/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .largeScrn {
        display: none;
    }
    .smallScreen {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px;
        background-color: #C9D7F8;
    }

    .smtopCard {
        /* display: block !important;
        float: right !important; */
        /* font-size: 5px; */
        grid-column: 3/4;
        background-color: #C9D7F8;
    }

    .smbnrContainer {
        /* grid-column: 2/6; */
        width: 50px !important;
        background-color: whitesmoke;
    }

    .smbannerBody {
        position: fixed;
        z-index: 1;
        background-color: whitesmoke !important;
        border-bottom: 1px solid rgb(202, 198, 198);
        width: 100%;
        height: 5rem;
        margin-top: -6%;
        margin-left: -6% !important;
    }

    .modalClose {
        position: fixed;
        z-index: 1;
        background-color: whitesmoke;
        font-size: 40px !important;
        height: 5px;
        margin-top: -5rem;
    }

    .bannerBody {
        display: none;
    }

    .smnavItems {
        justify-content: flex-end;
        margin-right: 1rem;
        background-color: #C9D7F8;
    }

    .smnavigation {
        padding-right: 1rem !important;
        font-family: 'Lexend', sans-serif;
        background-color: #C9D7F8 !important;
        /* grid-column: 4/6 !important; */
    }

    .smleftSection {
        grid-column: 1/4;
        grid-row: 2/6;
        background-color: #4C6663 !important;
        height: 100vh !important;
        margin-left: 2%;
        margin-right: 2%;
    }

    /* .userContainer {
        position: relative;
        display: flex;
        height: 10%;
        background-color: whitesmoke;
        font-family: 'Lexend', sans-serif;
        align-items: center;
        border: none;
    } */

    /* .profileName {
        align-items: center;
        background-color: whitesmoke;
        margin-left: 18%;
        font-size: 30px;
    } */

    .smmenu {
        margin-left: auto;
        margin-right: auto;
        top: 1%;
        background-color: #4C6663 !important;  
    }

    #smchat, #smcontacts, #smnotification {
        color: #C9D7F8 !important;
        background-color: #4C6663 !important;
        font-family: 'Lexend', sans-serif;
    }

    .smchatLink {
        background-color: #4C6663 !important;
        color: whitesmoke !important;
    }

    .smtabContent {
        position: relative;
        top: 2%;
        background-color: whitesmoke;
        height: 80%;
    }

    .smchatbox {
        grid-column: 2/4;
        /* height: 75vh !important; */
        background-color: #4C6663 !important;
    }

    /* .chatbox {
        display: none;
    } */

    .smchatDiv {
        background-color: #4C6663;
        height: 80vh !important;
        width: 100%;
    }

    /* .chatDiv {
        
    } */

    .smbuttonCard {
        position: fixed;
        /* display: flex; */
        /* margin-top: -15px; */
        /* position: fixed; */
        /* grid-column: 2/5;
        left: 10%;
        margin-top: 2%; */
    }

    /* .smtxtareaForm { 
        position: fixed;
        z-index: 1;
    } */

    /* .smtextarea {
        position: fixed;
    } */

    .smtextGrp {
        position: relative;
        display: inline-block;
        width: 75% !important;
        /* height: 5px; */
        /* top: 25%; */
    }

    .smsndBtn {
        margin-left: 3%;
        background-color: #4C6663 !important;
        border-color: #4C6663 !important;
    }

    /* .noConvo {
        position: relative;
        background-color: #4C6663;
        top: 40%;
        margin-left: 30%;
        font-size: 30px;
    } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .largeScrn {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px;
        background-color: #C9D7F8;
    }

    .topCard {
        grid-column: 3/3 !important;
        /* display: block; */
        /* float: right; */
        background-color: #C9D7F8;
    }

    .bannerContainer {
        grid-column: 2/4;
        /* width: 0rem; */
        background-color: whitesmoke;
    }

    .bannerBody {
        background-color: whitesmoke !important;
        border-bottom: 1px solid rgb(202, 198, 198);
    }

    .navItems {
        /* justify-content: flex-end; */
        /* grid-column: 2/3; */
        background-color: #C9D7F8;
    }

    .navigation {
        /* padding-right: 5% !important; */
        font-family: 'Lexend', sans-serif;
        background-color: #C9D7F8 !important;
        /* grid-column: 2/3!important; */
    }

    .leftSection {
        grid-column: 1/2;
        width: 20rem;
        grid-row: 2/6;
        background-color: #4C6663 !important;
        height: 100vh !important;
    }

    .userContainer {
        position: relative;
        display: flex;
        height: 10%;
        background-color: whitesmoke;
        font-family: 'Lexend', sans-serif;
        align-items: center;
        border: none;
    }

    .profileName {
        align-items: center;
        background-color: whitesmoke;
        margin-left: 18%;
        font-size: 30px;
    }

    .menu {
        position: relative;
        display: flex;
        top: 1%;
        background-color: #4C6663 !important;  
    }

    #chat, #contacts, #notification {
        /* padding: 0px 4px 0px 0px; */
        /* margin-left: 1rem; */
        color: #C9D7F8 !important;
        background-color: #4C6663 !important;
        cursor: pointer;
        font-family: 'Lexend', sans-serif;
        /* width: 32%; */
        /* font-size: 12px; */
    }

    .chatLink {
        background-color: #4C6663 !important;
        color: whitesmoke !important;
        font-size: 15px !important;
        /* font-size: 15px; */
        /* width: 90px; */
    }

    .tabContent {
        position: relative;
        top: 2%;
        background-color: whitesmoke;
        height: 80%;
    }

    .chatbox {
        grid-column: 2/4;
        height: 75vh !important;
        background-color: #4C6663 !important;
    }

    .chatDiv {
        background-color: #4C6663;
    }

    .buttonCard {
        grid-column: 2/4;
        left: 10%;
        margin-top: 2%;
    }

    .txtareaForm {
        position: relative;
        display: flex;
    }

    .textarea {
        font-size: 20px;
        font-family: 'Lexend', sans-serif;
        width: 50%;
    }

    .textGrp {
        width: 60% !important;
        top: 20px !important;
    }

    .sndBtn {
        margin-left: 3%;
        background-color: #4C6663 !important;
        border-color: #4C6663 !important;
    }

    .noConvo {
        position: relative;
        background-color: #4C6663;
        top: 40%;
        margin-left: 4rem;
        font-size: 20px;
    }

    .smallScreen {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .largeScrn {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px;
        background-color: #C9D7F8;
    }

    .topCard {
        grid-column: 5/6 !important;
        background-color: #C9D7F8;
        margin-right: 5rem;
    }

    .bannerContainer {
        grid-column: 2/6;
        background-color: whitesmoke;
        /* width: 5rem !important; */
    }

    .bannerBody {
        background-color: whitesmoke !important;
        border-bottom: 1px solid rgb(202, 198, 198);
    }

    .navItems {
        /* justify-content: flex-end; */
        background-color: #C9D7F8;
    }

    .navigation {
        padding-right: 5% !important;
        font-family: 'Lexend', sans-serif;
        background-color: #C9D7F8 !important;
        /* grid-column: 4/6 !important; */
    }

    .leftSection {
        /* grid-column: 1/2; */
        grid-row: 2/6;
        background-color: #4C6663 !important;
        height: 100vh !important;
    }

    .userContainer {
        position: relative;
        display: flex;
        height: 10%;
        background-color: whitesmoke;
        font-family: 'Lexend', sans-serif;
        align-items: center;
        border: none;
    }

    .profileName {
        align-items: center;
        background-color: whitesmoke;
        margin-left: 18%;
        font-size: 30px;
    }

    .menu {
        position: relative;
        display: flex;
        
        top: 1%;
        background-color: #4C6663 !important;  
    }

    #chat, #contacts, #notification {
        color: #C9D7F8 !important;
        background-color: #4C6663 !important;
        cursor: pointer;
        font-family: 'Lexend', sans-serif;
    }

    .chatLink {
        background-color: #4C6663 !important;
        color: whitesmoke !important;
    }

    .tabContent {
        position: relative;
        top: 2%;
        background-color: whitesmoke;
        height: 80%;
    }

    .chatbox {
        grid-column: 2/6 !important;
        height: 75vh !important;
        /* margin-left: -2rem; */
        /* width: 75vw; */
        background-color: #4C6663 !important;
    }

    .chatDiv {
        background-color: #4C6663;

        /* grid-column: 2/5 !important; */
    }

    .buttonCard {
        grid-column: 2/6;
        left: 10%;
        margin-top: 2%;
        width: 90%;
    }

    .txtareaForm {
        position: relative;
        display: flex;

    }

    .textGrp {
        width: 50rem;
        margin-top: 1rem !important;
    }

    .sndBtn {
        margin-left: 3%;
        background-color: #4C6663 !important;
        border-color: #4C6663 !important;
    }

    .noConvo {
        position: relative;
        background-color: #4C6663;
        top: 40%;
        margin-left: 30%;
        font-size: 30px;
    }

    .smallScreen {
        display: none;
    }
}